/* Community CSS */
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40%;
  margin: 5% auto;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 85%;

  text-align: center;

  color: #000000;
}

.community>span {
  line-height: normal;
  margin-top: -1rem;
}

.community .grad3 {
  background: var(--grad3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.join-community {
  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  font-size: 60.2026px;
  line-height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 38vw;
  padding: 1rem 1.5rem;

  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid #000000;
  border-radius: 45px;

  cursor: pointer;

  transition: all 0.15s 0s ease-in-out;
}

.join-community:hover {
  border-width: 0;
  background: var(--grad3);
  border-radius: 20rem;
  color: white;
}