/* Domain CSS */
.domain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    padding: auto;
    flex-direction: column;
    /* border: 2px solid rebeccapurple; */
}

.domain-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 30%; */
    margin: 5% auto;
    padding: 0 30%;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 85%;

    text-align: center;

    color: #000000;
}

.domain-text>span {
    line-height: normal;
    margin-top: -1rem;
}

.domain-text .grad2 {
    background: var(--grad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.domain_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-between;
    margin: 0.1rem auto;
    padding: 0.5rem 1rem;

    column-gap: 5vw;
    row-gap: 5vh;
}

.domain_item {
    /* border: 2px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 2rem;

    background: #000000;
    border-radius: 2rem;
    color: white;

    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    line-height: 65px;
}

.domain_desc {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2% auto;

    color: #000000
}

.domain_desc img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: auto;
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    .domain-text {
        font-size: 60px;
        margin-top: 10%;
        margin-bottom: 2%;
    }

    .domain_list {
        margin: 3px auto;

        column-gap: 3vw;
        row-gap: 3vh;
    }

    .domain_item {
        padding: 0.5rem 1.2rem;
        font-size: 40px;
    }

    .domain_desc {
        font-size: 1.5rem;
        margin-top: 2px;
    }

    .domain_desc img {
        height: 2.8rem;
    }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .domain-text {
        font-size: 50px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .domain_list {
        margin: 2.5px auto;

        column-gap: 3vw;
        row-gap: 3vh;
    }

    .domain_item {
        padding: 0.4rem 1rem;
        border-radius: 30px;
        font-size: 30px;
    }

    .domain_desc {
        font-size: 1.2rem;
        margin-top: 2px;
    }

    .domain_desc img {
        height: 2.2rem;
    }
}

/* mobile: 481px - 767px */
@media all and (min-width: 481px) and (max-width: 768px) {
    .domain-text {
        font-size: 50px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .domain_list {
        margin: 2.5px auto;

        column-gap: 3vw;
        row-gap: 3vh;
    }

    .domain_item {
        padding: 0.4rem 1rem;
        border-radius: 30px;
        font-size: 30px;
    }

    .domain_desc {
        font-size: 1.2rem;
        margin-top: 2px;
    }

    .domain_desc img {
        height: 2.2rem;
    }
}

/* smaller phones: 480px */
@media all and (max-width: 481px) {
    .domain-text {
        margin: 0 auto;
        padding: 0 5%;
        font-size: 35px;
        line-height: 85%;
    }

    .domain-text>span {
        line-height: normal;
        margin-top: -5px;
    }

    .domain_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5vw;
        row-gap: 2vh;
        margin: 8% auto;
    }

    .domain_item {
        padding: 0 1rem;
        border-radius: 30px;
        font-size: 25px;
    }

    .domain_desc {
        font-size: 1rem;
        margin-top: 2px;
        margin-bottom: 25vh;
    }

    .domain_desc img {
        height: 1.8rem;
    }
}