/* Domain CSS */
.domain {
    width: 98%;
    margin-left: 30px;
}

.domain-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 5% auto;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 85%;

    text-align: center;

    color: #000000;
}

.domain-text>span {
    line-height: normal;
    margin-top: -1rem;
}

.domain-text .grad2 {
    background: var(--grad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.domain_list {
    display: grid;
    grid-template-columns: repeat(3, 1rem);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-between;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;

    row-gap: 5vh;
}

.domain_item {
    /* border: 2px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 2rem;

    background: #000000;
    border-radius: 2.3rem;
    color: white;

    font-style: normal;
    font-weight: 200;
    font-size: 48.8019px;
    line-height: 65px;
}

.domain_desc {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 78px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% auto;

    color: #000000
}

.domain_desc img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: auto;
}