/* hero CSS */
.hero {
  /* width: 98%; */
  /* height: 716.11px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hero-text {
  /* position: absolute; */
  /* left: 30.39%;
  top: 40%;
  right: 29.94%;
  bottom: 31.77%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18% 30%;


  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 80%;
  /* or 68px */

  text-align: center;

  color: #000000;
}

.hero-text > span {
  line-height: normal;
  margin-top: -1rem;
}
.hero-text .grad1 {
  background: var(--grad1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gear {
  position: absolute;
  left: 5%;
  right: 91.39%;
  top: 30%;
  bottom: 64.05%;

  transition: all 1s 0s ease-in-out;
}

.gear:hover {
  transform: rotate(180deg);
}

.chip {
  position: absolute;
  right: 5%;
  top: 15%;
  bottom: 81.8%;
}

.laptop {
  position: absolute;
  right: 20%;
  top: 83.61%;
  bottom: 0%;
}