/* hero CSS */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 2px solid rebeccapurple; */
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% auto;
  padding: 0 25%;
  /* margin: 18% 30%; */


  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 80%;
  /* or 68px */

  text-align: center;

  color: #000000;
}

.hero-text>span {
  line-height: normal;
  margin-top: -1rem;
}

.hero-text .grad1 {
  background: var(--grad1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gear {
  position: absolute;
  left: 5%;
  right: 91.39%;
  top: 35%;
  bottom: 64.05%;

  transition: all 1s 0s ease-in-out;
}

.gear:hover {
  transform: rotate(180deg);
}

.chip {
  position: absolute;
  right: 5%;
  top: 15%;
  bottom: 81.8%;
}

.laptop {
  position: absolute;
  right: 20%;
  top: 80%;
  bottom: 0%;
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
  .hero-text {
    /* margin: 20% auto; */
    /* padding: 0 25%; */
    font-size: 60px;
  }

  .gear {
    height: 20vh;
    top: 45%;
  }

  .chip {
    height: 20vh;
    top: 21%;
    right: 4%;
  }

  .laptop {
    height: 18vh;
    right: 23%;
  }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 1000px) {
  .hero-text {
    /* margin: 22% auto; */
    /* padding: 0 25%; */
    font-size: 50px;
    line-height: 82%;
  }

  .gear {
    height: 20vh;
    top: 40%;
  }

  .chip {
    height: 20vh;
    top: 21%;
    right: 2%;
  }

  .laptop {
    height: 18vh;
    right: 23%;
  }
}


@media all and (min-width: 1000px) and (max-width: 1024px) {
  .hero-text {
    /* margin: 22% auto; */
    /* padding: 0 30%; */
    font-size: 50px;
    line-height: 85%;
  }

  .gear {
    height: 20vh;
    top: 40%;
  }

  .chip {
    height: 20vh;
    top: 21%;
    right: 2%;
  }

  .laptop {
    height: 18vh;
    right: 23%;
  }
}

/* mobile: 481px - 767px */
@media all and (min-width: 481px) and (max-width: 768px) {
  .hero-text {
    margin: 27% auto;
    padding: 0 16%;
    font-size: 50px;
    line-height: 85%;
  }

  .gear {
    height: 12vh;
    top: 30%;
  }

  .chip {
    height: 12vh;
    top: 19%;
    right: 5%;
  }

  .laptop {
    height: 12vh;
    right: 30%;
  }
}

/* smaller phones: 480px */
@media all and (max-width: 481px) {
  .hero-text {
    margin-top: 90%;
    margin-bottom: 50vh;
    padding: 0 5%;
    font-size: 35px;
    line-height: 85%;
  }

  .hero-text>span {
    line-height: normal;
    margin-top: -5px;
  }

  .gear {
    height: 12vh;
    top: 35%;
  }

  .chip {
    height: 12vh;
    top: 22%;
    right: 10%;
  }

  .laptop {
    height: 12vh;
    right: 30%;
    top: 70%;
  }
}