/* TODO: Create a responsive Carousel */
/* Carousel CSS */
.projects {
  height: 10rem;
  margin: 10% 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO: remove border later on */
  border: 2px solid black;
}