.featured-sec {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.featured-sec>.featured-heading {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    /* line-height: 85%; */
    padding: 1rem;
    text-align: center;
    margin-top: 25vh;
}

.featured-heading>span {
    background: var(--grad6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.featured {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    row-gap: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.featured_title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    /* line-height: 85%; */

    margin: 0.2rem 1rem;
}

.f-box {
    border: 2px solid black;
    padding: 0.2rem;
}

.featured-item {
    /* border: 2px solid black; */
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    /* line-height: 119%; */
    margin: 0 1rem;
}

.featured-proof {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    /* grid-auto-columns: 25vw; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.2rem;
    /* border: 3px solid black; */
}

.featured-covid-badge {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

.youtube-embed {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid black; */
    /* height: 100%; */
}

.featured-collab {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    .featured-sec>.featured-heading {
        font-size: 45px;
        margin-top: 30vh;
    }

    .featured_title {
        font-size: 30px;
    }

    .featured-item {
        font-size: 22px;
    }


    .featured-proof>img {
        width: 280px;
    }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .featured-sec>.featured-heading {
        font-size: 42px;
        margin-top: 30vh;
    }

    .featured_title {
        font-size: 28px;
    }

    .featured_desc {
        margin: auto 1.2rem;
        padding: auto 1.2rem;
    }

    .featured-item {
        font-size: 20px;
    }

    .featured-proof {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-proof>img {
        width: 180px;
    }

    .featured-covid-badge {
        grid-template-columns: 1fr;
    }

    /* .featured-proof>TwitterTweetEmbed {
        height: 100px;
    } */
}

/* mobile: 481px - 767px */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .featured-sec>.featured-heading {
        font-size: 40px;
        margin-top: 20vh;
    }

    .featured_title {
        font-size: 28px;
    }

    .featured_desc {
        margin: auto 1rem;
        padding: auto 1rem;
    }

    .featured-item {
        font-size: 20px;
    }

    .featured-proof {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-proof>img {
        width: 180px;
    }

    .featured-covid-badge {
        grid-template-columns: 1fr;
    }
}

/* smaller phones: 480px */
@media all and (max-width: 480px) {
    .featured-sec>.featured-heading {
        font-size: 40px;
        margin-top: 25vh;
    }

    .featured_title {
        font-size: 25px;
    }

    .featured_desc {
        margin: auto 1rem;
        padding: auto 1rem;
    }

    .featured-item {
        font-size: 18px;
        margin: auto;
    }
    
    .featured-proof {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-proof>img {
        width: 180px;
    }

    .featured-covid-badge {
        grid-template-columns: 1fr;
    }
    .featured-covid-badge>img {
        width:100%;
    }

    .youtube-embed {
        padding: 1rem;
    }
}