.featured {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    row-gap: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.featured-item {
    /* border: 2px solid black; */
    margin: 0 1rem;
}
