body {
  font-family: 'Segoe UI';
}

/* navbar */
navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  margin: 1rem 0.5rem 1rem 2rem;
}

navbar ul {
  list-style: none;
  display: flex;
  margin-right: 22%;
}

navbar ul li {
  padding: 0 60px;
  font-size: 1.5rem;
}

navbar ul li a {
  text-decoration: none;
  color: black;
}

navbar img {
  margin-left: 30px;
  height: 3rem;
}

/* hero CSS */
.hero {
  position: absolute;
  width: 98%;
  height: 716.11px;
  margin-left: 30px;
  top: 10rem;
}

.hero-text {
  position: absolute;
  left: 30.39%;
  right: 29.94%;
  top: 35.68%;
  bottom: 31.77%;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 85%;
  /* or 68px */

  text-align: center;

  color: #000000;
}

.hero-text .grad1 {
  background: linear-gradient(270deg, #CC00FF 0%, #1400FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gear {
  position: absolute;
  left: 0%;
  right: 91.39%;
  top: 16.74%;
  bottom: 64.05%;
}

.chip {
  position: absolute;
  right: 30px;
  top: 0%;
  bottom: 81.8%;
}

.laptop {
  position: absolute;
  right: 20%;
  top: 83.61%;
  bottom: 0%;
}

/* Domain CSS */
.domain {
  position: absolute;
  width: 98%;
  height: 716.11px;
  margin-left: 30px;
  top: 50rem;
}

.domain-text {
  position: absolute;
  left: 30.39%;
  right: 29.94%;
  top: 35.68%;
  bottom: 31.77%;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 85%;
  /* or 68px */

  text-align: center;

  color: #000000;
}

.domain-text .grad2 {
  background: linear-gradient(270deg, #5900B1 0%, #C00057 57.6%, #FF0000 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.domain_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1rem);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-between;
  top: 28rem;

  /* display: flex;
  flex-wrap: wrap;

  margin-top: 35rem; */
}

.domain_item {
  /* border: 2px solid black; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 295.39px;
  height: 120.77px;
  left: 267px;
  top: 1594.2px;

  background: #000000;
  border-radius: 40.8003px;
  color: white;

  margin: 1.5rem;

  font-style: normal;
  font-weight: 200;
  font-size: 48.8019px;
  line-height: 65px;
}

.domain_desc {
  position: relative;
  top: 30rem;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30%;

  color: #000000
}

.domain_desc img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: auto;
}

/* TODO: Create a responsive Carousel */
/* Carousel CSS */
.carousel {
  position: absolute;
  width: 98%;
  height: 10rem;
  margin-top: 5rem;
  top: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* TODO: remove border later on */
  border: 2px solid black;
}

/* Community CSS */
.community {
  position: absolute;
  left: 30.39%;
  right: 29.94%;
  top: 75rem;
  bottom: 31.77%;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 85%;
  /* or 68px */

  text-align: center;

  color: #000000;
}

.community .grad3 {
  background: linear-gradient(270deg, #FF0000 0%, #FF7A00 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.join-community {
  position: absolute;
  top: 90rem;
  left: 35%;

  font-family: 'Segoe UI';
  font-style: italic;
  font-weight: 400;
  font-size: 60.2026px;
  line-height: 80px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #000000;
  background-color: rgba(0, 0, 0, 0);

  position: absolute;
  width: 30%;
  height: 136.46px;

  border: 6px solid #000000;
  border-radius: 45px;

  cursor: pointer;
}

/* Footer CSS */
.footer {
  top: 150rem;
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: black;
  color: white;
}