body {
  font-family: 'Segoe UI';
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  margin: 1rem 0.5rem 1rem 2rem;
}

navbar ul {
  list-style: none;
  display: flex;
  margin-right: 22%;
}

navbar ul li {
  padding: 0 60px;
  font-size: 1.5rem;
}

navbar ul li a {
  text-decoration: none;
  color: black;
}

navbar img {
  margin-left: 30px;
  height: 3rem;
}