.about-sec {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.about-sec>.about-heading {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 85%;

    margin-top: 5rem;
}

.about-heading>span {
    background: var(--grad2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-sec>.about-content {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 119%;
}

.about-content>ul>li {
    list-style: none;
    margin: 2rem;
}

.past-events {
    margin: auto 0.8rem;
}

.past-events-heading {
    font-weight: 800;
    font-size: 1.8rem;
    margin: 0 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 3fr 2fr; */
    grid-auto-rows: 15rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    column-gap: 1rem;
}

.gallery>.item {
    background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEVmsuxMn7QUrKwm7-YfmygKLcPCivWKmS9Lln6-suFpZrLPmtIG8_pvTEdgdMyxKkfIePDc8LB5R4TJ2ke3uq_GgxDfPQY_kDTD_8YQlqiegqWF3wJHSnKtdAkQkjb-cJFDkcMQii0oyU7Mh_Qil47iCg=w1920-h764-no?authuser=0");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.8px solid black;

    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    border-radius: 1rem;
    height: 80%;

    transition: all 0.5s 0s ease;
}

.item:hover {
    /* Safari 6.0 - 9.0 */
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-radius: .6rem;
    height: 90%;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
}

.event-title {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 85%;

    margin-top: 5rem;
    margin-left: 2rem;
}

.event-desc {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 119%;


    margin-top: 1rem;
    margin-left: 2rem;
}