a {
    text-decoration: none;
    color: black;
}

.alumni-sec {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.alumni-sec>.alumni-heading {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 85%;
    padding: 1rem;

    margin-top: 25vh;
}

.alumni-card {
    border: 2px solid black;
    border-radius: 1.5rem;

    display: grid;

    height: 42vh;

    grid-template-columns: repeat(2, 1fr);

    width: fit-content;

    margin: 1rem;
    padding: 2rem;

    transition: all 0.3s 0s ease;
}

.alumni-card:hover {

    background-color: rgb(18, 23, 30);
    color: var(--selection-color);

    /* height: 43vh; */

    cursor: pointer;

    border-radius: 3.5rem;

    box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
    -webkit-box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
    -moz-box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
}

.alumni-matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    justify-content: center;
    align-items: center;

    margin: 0 1rem;
    padding: 0 1rem;
}

.alumni-name {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;

    margin: auto;
    padding: 1rem;

    transition: all 0.3s 0s ease-in;
}

.alumni-card:hover .alumni-name {
    /* background-color: var(--selection-bg); */
    color: var(--selection-color);
    transform: translate(1rem);
}

.alumni-designation {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;

    text-align: center;

    margin: auto;
    padding: 1rem;
    width: 80%;

    /* border: 2px solid rebeccapurple; */
}

.alumni-desc {
    /* width: 80%; */
    font-size: 1rem;
    font-style: italic;

    text-align: center;

    margin: auto;
    padding: 0.5rem;
    width: 80%;

    /* border: 2px solid red; */
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    .alumni-sec>.alumni-heading {
        font-size: 45px;
        margin-top: 30vh;
    }

    .alumni-card {
        height: 80vh;

        padding: 1.5rem;
    }

    .alumni-name {
        font-size: 1.5rem;
        padding: 0;
    }

    .alumni-designation {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .alumni-desc {
        font-size: 0.8rem;
    }

    .alumni-pfp {
        height: 0.5rem !important;
        width: 0.5rem !important;
        padding: 4rem !important;
    }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .alumni-sec>.alumni-heading {
        font-size: 45px;
        margin-top: 30vh;
    }

    .alumni-card {
        height: 80vh;

        padding: 1.5rem;
    }

    .alumni-name {
        font-size: 1.2rem;
    }

    .alumni-designation {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .alumni-desc {
        font-size: 0.8rem;
    }

    .alumni-pfp {
        height: 0.2rem !important;
        width: 0.2rem !important;
        padding: 4rem !important;
    }
}

/* mobile: 481px - 767px */

/* smaller phones: 480px */