* {
  font-family: 'Segoe UI';

  --grad1: linear-gradient(270deg, #CC00FF 0%, #1400FF 100%);
  --grad2: linear-gradient(270deg, #5900B1 0%, #C00057 57.6%, #FF0000 100%);
  --grad3: linear-gradient(270deg, #FF0000 0%, #FF7A00 100%);
  --grad4: linear-gradient(270deg, #0f33ff9d 0%, #5000e4 100%);
  /* --grad4: linear-gradient(270deg, #1a7dff 0%, #0035ff 100%); */
  

  --selection-color: rgb(246, 253, 148);
  --selection-bg: rgba(40, 27, 218, 0.814);
}

::selection {
  color: var(--selection-color);
  background-color: var(--selection-bg);
}

span::selection {
  -webkit-text-fill-color: var(--selection-color);
}