/* Footer CSS */
.footer {
  margin-top: 20vh;
  bottom: 0;
  width: 100vw;
  /* height: 90vh; */
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0;

}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid rebeccapurple; */
  /* margin-top: 2rem; */
  margin: 3rem 1rem;
  margin-bottom: 0;
  width: 95vw;
}

/* .footer-logo-img {
  border: 2px solid rebeccapurple;
} */

.footer-logo section {
  width: 100%;
}

.sec-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10vw;
  margin-right: 5vw;
}

.Domain {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

.Domain ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.Domain ul li {
  width: max-content;
  margin-bottom: 0.7rem;
  padding-bottom: 0.7rem;
}


.Domain h1 {
  margin: 0.2rem;
}

.footer .Hero {
  margin-left: 2rem;
}

.Hero ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 3.5rem;
  width: max-content;

  /* border: 2px solid rebeccapurple; */
  padding: 0;
}

.Hero ul li img {
  height: 1.5rem;
  cursor: pointer;
}

.Hero ul li {
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.2rem 0.5rem;


  border-radius: 20rem;
  transition: all 0.3s 0s ease !important;
}

.Hero ul li :first-child {
  display: flex;

  transition: all 0.3s 0s ease !important;
}

.Hero ul li:hover :first-child {
  transition: all 0.3s 0s ease !important;
  color: white !important;

}

/* .Hero ul li a{
  text-decoration: none;
  padding: 0;
} */

.Hero ul li:hover {
  /* border: 2px solid rebec capurple; */
  /* background-color: rebeccapurple; */
  border-radius: 20rem;
  background: var(--grad4);
  /* background-clip: text; */
  -webkit-text-fill-color: white;
  cursor: pointer;
  /* padding: 0.55rem 1rem; */
  /* border-radius: 30rem; */
}

.footer hr {
  width: 97vw;
  border-radius: 20rem;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  margin-top: 5%;
  bottom: 0;
}

.footer .copy-rights {

  /* border: 2px solid rebeccapurple; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  /* height: max-content; */
  margin: 0.3rem auto;
  margin-bottom: 0;


  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;

  color: #CFCFCF;
}