/* Footer CSS */
.footer {
  margin-top: 20vh;
  bottom: 0;
  width: 100vw;
  height: 90vh;
  background-color: black;
  color: white;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer section {
  margin-top: 5rem;
  width: 20vw;
}

.sec-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .Hero {
  margin-left: 2rem;
}

.Hero ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-top: 3rem;
}

.Hero ul li img {
  height: 1.5rem;
  cursor: pointer;
}

.Domain ul {
  list-style: none;
  margin-left: -14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Domain ul li {
  margin-top: 1.5rem;
}

.footer hr {
  width: 97vw;
  border-radius: 20rem;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  margin-top: 20vh;
}

.footer .copy-rights {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
  margin: auto;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;

  color: #CFCFCF;
}