.mentor-sec {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.mentor-sec>.mentor-heading {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 85%;
    padding: 1rem;

    margin-top: 25vh;
}

.mentor-card {
    border: 2px solid black;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: fit-content;

    margin: 1rem;
    padding: 1rem;

    transition: all 0.3s 0s ease;
}

.mentor-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
    -webkit-box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
    -moz-box-shadow: 0px 0px 40px 8px rgba(171, 171, 171, 0.75);
}

.mentor-matrix {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 1rem;
    padding: 1rem;
}

.mentor-name {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    /* line-height: 85%; */
    margin: auto;

    transition: all 0.2s 0s ease-in;
}

.mentor-card:hover .mentor-name {
    /* background-color: var(--selection-bg);
    color: var(--selection-color); */
    text-decoration: underline;
    transform: translate(1rem);
}

.mentor-designation {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    /* line-height: 85%; */
    margin: auto;
}

.mentor-desc {
    width: 70%;
    text-align: center;
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    .mentor-sec>.mentor-heading {
        font-size: 45px;
        margin-top: 30vh;
    }

    .mentor-card {
        margin: 1.2rem;
    }

    .mentor-name {
        font-size: 1.5rem;
    }

    .mentor-designation {
        font-size: 0.8rem;
        margin: 0.05rem auto;
    }

    .mentor-pfp {
        height: 2% !important;
        width: 2% !important;
    }

    .mentor-sec {
        font-size: 0.9rem;
    }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .mentor-sec>.mentor-heading {
        font-size: 45px;
        margin-top: 30vh;
    }

    .mentor-card {
        margin: 0.5rem;
        padding: 1.5rem;
    }

    .mentor-name {
        font-size: 1.2rem;
    }

    .mentor-designation {
        font-size: 0.6rem;
        margin: 0rem auto;
    }

    .mentor-pfp {
        height: 1% !important;
        width: 1% !important;
    }

    .mentor-sec {
        font-size: 0.6rem;
    }
}

/* mobile: 481px - 767px */

/* smaller phones: 480px */