/* navbar */
navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin: 0rem 0.5rem 1rem 0rem;
    padding: 0.5rem 1rem;
    position: fixed;
    /* background: white; */
    /* border: 2px solid black; */
    width: 100vw;

    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    z-index: 999;

    transition: all 0.3s 0s ease;
}

navbar ul {
    list-style: none;
    display: flex;
    margin-right: 22%;
}

navbar ul li {
    padding: 0 60px;
    font-size: 1.5rem;
}

navbar ul li a {
    text-decoration: none;
    color: black;

    transition: all 0.2s 0s ease;
}

navbar img {
    margin-left: 30px;
    height: 3rem;
}

navbar .active {
    background: var(--grad4);
    /* background-clip: text; */
    -webkit-text-fill-color: white;
    padding: 0.55rem 1rem;
    border-radius: 30rem;
}

@media screen and (max-width: 500px) {
    navbar ul li {
        padding: 0 30px;
        font-size: 1.2rem;
    }

    navbar img {
        margin-left: 10px;
        height: 2.5rem;
    }
}

/* 320px — 480px: Mobile devices */
/* 481px — 768px: iPads, Tablets */
/* 769px — 1024px: Small screens, laptops */
/* 1025px — .... : Desktops, large screens */

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    navbar ul {
        /* margin: 3vh 5vw; */
        margin-right: 10%;
        /* justify-content: space-around; */
    }

    navbar ul li {
        padding: 0 2.5rem;
        font-size: 1.2rem;
    }

    navbar img {
        height: 2.5rem;
    }



}

/* Tablet: 768px - 1023px */

/* mobile: 481px - 767px */

/* smaller phones: 480px */