/* navbar */
navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    top: 0;
    margin: 0rem 0.5rem 1rem 0rem;
    padding: 0.5rem 1rem;
    position: fixed;
    /* background: white; */
    /* border: 2px solid black; */
    width: 100vw;

    background: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05); */
    backdrop-filter: blur(20px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    z-index: 999;

    transition: all 0.3s 0s ease;
}

.menu {
    display: none;
}

.menuDown {
    transition: all 0.3s 0 ease;
}

navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    padding: 0;
    /* margin-right: 22%; */
}

navbar ul li {
    /* padding: 0 45px; */
    font-size: 1.5rem;
}

navbar ul li a {
    text-decoration: none;
    color: black;

    transition: all 0.2s 0s ease;
}

navbar img {
    /* margin-left: 30px; */
    height: 3rem;
}

navbar .active {
    background: var(--grad4);
    /* background-clip: text; */
    -webkit-text-fill-color: white;
    padding: 0.55rem 1rem;
    border-radius: 30rem;
}

/* Desktop: 1024px - 1200px */
@media all and (min-width: 1024px) and (max-width: 1200px) {
    navbar ul li {
        font-size: 1.3rem;
    }

    navbar img {
        height: 2.8rem;
    }
}

/* Tablet: 768px - 1023px */
@media all and (min-width: 768px) and (max-width: 900px) {

    /* navbar ul {
        width: 75vw;
    } */
    navbar ul li {
        font-size: 1.2rem;
    }

    navbar img {
        height: 2.5rem;
    }
}

@media all and (min-width: 900px) and (max-width: 1024px) {

    navbar ul li {
        font-size: 1.3rem;
    }

    navbar img {
        height: 2.7rem;
    }
}

/* mobile: 481px - 767px */
/* @media all and (min-width: 481px) and (max-width: 767px) { */
@media all and (max-width: 767px) {
    .menu {
        display: flex;
        /* margin-right: -2rem; */
    }

    navbar {
        border: 2px solid black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        /* height: 100vh; */
        height: max-content;
        padding: 1rem 0;
        margin: 0;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .nav-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 90vw;
        padding: 0;
        margin: 0 1rem;
    }

    navbar ul {
        /* display: none; */
        flex-direction: column;
    }

    .menuDown {
        display: none;
    }

    /* navbar img {
        padding: 0rem;
    } */

    navbar li {
        padding: 1rem;
        margin: 1rem;
    }

    .menuIconDown {
        rotate: 90deg;
    }
}


/* smaller phones: 480px */
/* @media all and (max-width: 480px) {

} */